.snack-card:hover {
    border-color: var(--blue-gray)!important;
    color: var(--blue-gray);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.snack-container{
    width: 100vw;
}

.snack-card:hover svg {
    transition: .4s;
    stroke: var(--blue-gray)!important;
}

.snack-card svg {
    transition: .4s;
}

.snacks-title {
    color: var(--blue-gray);
}

.size-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* width: 100%; */
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: rgb(220, 202, 147);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}

.icon-btn:hover {
    background-color: var(--blue-gray);
    transition: .2s;
}

.add-btn:hover {
    width: 90%;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: black;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
    height: 1.5rem;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: black;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.button-footer {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px dotted rgb(202, 195, 97)!important;
}