.ingredient-class {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.add-ingredient-popover, .form-control {
    font-family: 'VictorMono' !important;
}

.btn-delete-role {
    height: 2rem;
}
