.cart-table-container th, .total-price {
    font-family: 'Leonardo-Rounded';
}

.active-cart-container {
    font-family: 'VictorMono';
}

.button-buy-cart-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: 'VictorMono';
}

.main-container {
    background-image: url(../../../assets/img/papelTexture.webp);
}

.main-container-dark table, .main-container-dark button{
    background-image: url(../../../assets/img/papelTextureInverted.jpg);
    color: whitesmoke;
}

.main-container-dark {
    background-image: url(../../../assets/img/papelTextureInverted.jpg);
    color: whitesmoke;
}
