.main-orders-container {
    background-image: url(../../../assets/img/papelTexture.webp);
}

.order-container {
    color: white;
    font-family: 'VictorMono';
}

.orders-title {
    font-family: 'Leonardo-Rounded';
}

.button-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.order-container th, .order-container td {
    color: white;
    text-align: start;
    white-space: nowrap;
}

.cancelled {
    background-color: var(--fire-opal);
    color: white;
}

.sold {
    background-color: var(--blue-gray);
}

.preparing{
    background-color: var(--gold-metalic);
}

.delivered{
    background-color: rgb(97, 179, 97);
}

.bought{
    background-color: rgb(72, 72, 249);
}

.main-orders-container-dark {
    background-image: url(../../../assets/img/papelTextureInverted.jpg);
}

.orders-title-dark {
    font-family: 'Leonardo-Rounded';
    color: whitesmoke;
}
