.cancelled {
    background-color: var(--fire-opal);
    color: white;
}

.sold {
    background-color: var(--blue-gray);
}

.preparing{
    background-color: var(--gold-metalic);
}

.delivered{
    background-color: rgb(97, 179, 97);
}