.addCartButton{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.drink-container{
    width: 100vw;
}

.drink-card:hover {
    border-color: var(--gold-metalic)!important;
    color: rgb(193, 147, 31);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.drinks-icon-btn:hover {
    background-color: var(--gold-metalic)!important;
    transition: .2s;
}

.drinks-title {
    color: var(--gold-metalic)!important;
}

.drink-card:hover svg {
    transition: .4s;
    stroke: rgb(193, 147, 31)!important;
}

.drink-card svg {
    transition: .4s;
}

.drink-card-dark {
    max-width: 20rem;
    position: relative;
    transition: 0.5s ease-out;
    overflow: visible;
    font-family: 'VictorMono';
    background: var(--inverted-dutch-white) !important;
    border: 3px solid #353c9e!important;
}

.drink-card-dark:hover {
    border-color: var(--gold-metalic)!important;
    color: rgb(193, 147, 31);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.drink-card-dark:hover svg {
    transition: .4s;
    stroke: rgb(193, 147, 31)!important;
}
