.orders_container {
    background-color: white;
    min-height: auto;
    background-image: url(../../../assets/img/papelTexture.webp);
}

.orders_header {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding-block: 1rem;

}

.orders_header h2 {
    font-family: 'Leonardo-Rounded';
    margin-bottom: 0;
}

label {
    margin: 0;
}
