.main-container {
    background-image: url(../../../assets/img/papelTexture.webp);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.users-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem;
}

.profile-container, .data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.data-container li {
    font-family: 'VictorMono';
}

.profile-imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.6);
   
}

.profile-imgContainer :hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.profile-imgContainer > img{
    border: 2px solid var(--fire-opal);
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    transition: 0.7s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.btn-custom_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    font-family: 'Leonardo-Rounded';
}

.btn-custom:hover .btn-custom_top {
    transform: translateY(-0.33em);
}

.btn-custom:active .btn-custom_top {
    transform: translateY(0);
}
