.snack-card:hover {
    border-color: var(--blue-gray)!important;
}

.snacks-title {
    color: var(--blue-gray);
}

.size-container {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    font-size: smaller;
}