.cardPlay {
  position: relative;
  box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.75);
}

.cardPlay:hover {
  transform: scale(1.1);
}

.cardPlay img {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--inverted-silver-sand);
}

.cardPlay .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}


.cardPlay .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
