.main-404-container {
    min-height: calc(100vh - 15rem);
    padding-top: 0.5rem;
    width: 100vw;
    background-image: url(../../../assets/img/papelTexture.webp);
}

.message-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

h4, a {
    font-family: 'VictorMono';
}

.img404-container > img{
    width: 25rem;
    padding-bottom: 1rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-container {
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.turno{
    width: 8rem;
}

.turns-container {
    margin-top: 2rem;
}

.btn-custom {
    margin-top: 1.5rem;
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.btn-custom_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.btn-custom:hover .btn-custom_top {
    transform: translateY(-0.33em);
}

.btn-custom:active .btn-custom_top {
    transform: translateY(0);
}

.card-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 30rem;
}

.main-404-container-dark {
    min-height: calc(100vh - 15rem);
    padding-top: 0.5rem;
    width: 100vw;
    background-color: rgb(237, 227, 199);
    background-image: url(../../../assets/img/papelTextureInverted.jpg);
    color: whitesmoke;
}

@media (max-width: 991.5px){
    .card-grid{
        margin-right: 0;
    }
    .main-container{
        height: 100% !important ;
    }
}

@media (min-width: 991px){
    .card-grid{
        width: 20rem !important;
    }
    .img404-container > img{
        width: 20rem !important;
    }
}

@media (min-width: 1246px){
    .card-grid{
        width: 30rem !important;
    }
    .img404-container > img{
        width: 25rem !important;
    }
}

@media (min-width: 279px){
    .img404-container > img{
        width: 10rem;
    }
    .card-grid{
        width: 12rem;
    }
    .stats-container{
        width: 10rem;
    }
    .memoria{
        font-size: 15px;
    }
}

@media (min-width: 380px){
    .img404-container > img{
        width: 14rem;
    }
    .card-grid{
        width: 16rem;
    }
    .stats-container{
        width: 10rem;
    }
    .memoria{
        font-size: 25px;
    }
}

@media (min-width: 550px){
    .img404-container > img{
        width: 20rem;
    }
    .card-grid{
        width: 20rem;
    }
    .stats-container{
        width: 10rem;
    }
    .memoria{
        font-size: 30px;
    }
}

@media (min-width: 750px){
    .img404-container > img{
        width: 25rem;
    }
    .card-grid{
        width: 25rem;
    }
    .stats-container{
        width: 10rem;
    }
}
