.product-image-container {
    display: flex;
    flex-direction: column;
    width: 12rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--fire-opal);
}

.product-image {
    width: 100%;
    background-size: cover;
}

.product-size-container {
    border: 2px solid var(--fire-opal);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-container svg {
    stroke: var(--fire-opal);
}
