.product-image-container {
    display: flex;
    flex-direction: column;
    max-width: 12rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--fire-opal);
}

.product-image-div {
    width: 100%;
}

.product-image {
    width: 100%;
    background-size: cover;
}

.product-size-container {
    border: 2px solid var(--fire-opal);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-container svg {
    stroke: var(--fire-opal);
}
.product-icons svg {
    stroke: white;
}

.dark > .accordion-item, .dark .accordion-header > button  {
    background-color: black!important;
    color: whitesmoke;
}

.light > .accordion-item, .light .accordion-header > button  {
    background-color: whitesmoke !important;
}
